.footer{
    background-color: rgb(128, 128, 0,0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
}

.footer_list{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    list-style: none;
    
}

.footer_item {
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 2rem;
    margin-bottom: 10px;
}

.right{
    padding: 16px 0;
}

.logo{
    height: 150px;
    margin-right: 50px;
}

.center{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.lower_input_container{
    width: 100%;
}
input{
    width: 80%;
}

.subtitle{
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 20px;
}


.upper_input, .lower_input{
    width: 100%;
    margin: 8px 0;
    padding: 0.5rem;
    background-color: rgba(128, 128, 0, 0.4); 
    border-radius: 20px;
    border: 2px solid rgba(128, 128, 0, 0.4);
    color: white;
    justify-content: flex-start; 
}

.upper_input{
    height: 100px;
}

input::placeholder {
    
    color: olive; 
    font-weight: bold;
}

.send_bttn{
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    color: olive;
    padding: 8px 16px; 
    height: fit-content;
    margin-top: 8px
}